@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}


h1,h3,h5,h4{
  font-family: "Montserrat", sans-serif;
}

p{
  font-family: "Poppins", sans-serif;
  color: #555752;
}

.container{
  background-color: #F18E3E;
  width: 100%;
  /* height: 100%; */
  padding: 10px;
}
.main-container{
  background-color: #FBF3EC;
  width: 100%;
  border-radius: 1rem;
  padding-bottom: 2rem;
}
.logo h1 span{
  color: #F18E3E;
}
.links ul{
    display: flex;
    gap: 2rem;
    padding-right: 35rem;
}
.links li{
  /* text-decoration: none; */
    list-style: none;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #555752;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;

}
nav{
  border: 2px solid #F4ECE6;
  border-radius: 1rem;
}
.icons img{
  width: 20px;
  margin-right: 20px;
}


/* ------------------ */
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 3rem;


}

.col-1{
  display: flex;
  flex-direction: column;
}

.line span{
  width: 20rem;
  height: 1px;
  background-color: #d9d3ce;
  display: block;
  margin: 1rem 0;
}
.col-1_content{
  width: 19rem;
}
.col-1_content .new {
  color: #f18e3e;
  font-weight: 600;

}.col-1_content h1 span{
  color: #f18e3e;
}
.col-1_content h1{
  font-size: 40px;
}

.money{
    font-weight: 600;
    color: black;
}
.col-1 .tags{
  margin-top: 1rem
}
.greater i{
    color: #f18e3e;

    font-size: 10px;
    margin-left: 10px;
}
.col-2{
  position: relative;
  display: flex;
  text-align: center;

}
.hero-img img{
  width: 30rem;
  text-align: center;
  filter:
    drop-shadow(0px 15px 20px rgba(0,0,0,0.10))
    drop-shadow(0px 35px 50px rgba(0,0,0,0.18))
    /* drop-shadow(0px 60px 80px rgba(0,0,0,0.12)); */
}
.hero-content img{
  width: 60px;

}
.hero-content{
  display: flex;
  align-items: center;
}
.hero-content p{
  font-size: 10px;
  font-weight: 700;
}

.col-2 h5{
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1rem;
}
.btns{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.btns button {
    padding: 10px;
    background: #F3EBE4;
    border-radius: 10px;
    border: none;
}
.btns .active{
    background: #F18E3E;
    color: white;
}

.jacket-img img{
  width: 80px;
}
.jacket-img {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
}
.jacket-img p{
  font-size: 10px;
  text-align: center;
}
.jacket-img img{
  margin-left: 15px;

}
.img-sec-1{
  display: flex;

}
.img-sec-2{
  display: flex;
}
.col-3 .size-guide {
  /* color: #f18e3e; */
  font-size: 10px;
  margin-left: 10px;
}
.col-3 h5{
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.col-3 .size {
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    padding-top: 1rem;
}
.clothes-btn{
  width: 175px;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.btn1{
  margin: 1rem 0;
  background-color: #FBF3EC;
  border-radius: 30px;
  padding: 10px;
  border: 1px solid #d9d3ce;
  font-weight: 600;

}

.btn2{
  background-color: #F18E3E;
  border-radius: 30px;
  padding: 10px;
  border: none;
  color: white;
  /* font-weight: 600; */

}
.btn2 i{
  padding-left: 30px;
}

.grid{
  margin:0   2rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* margin-top: 2rem; */
  background-color: #F9F0EA;
  padding: 1rem;
  border:1px solid #d9d3ce;
  border-radius: 20px;
}
.grid-sec{
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 2rem;
}
.grid-sec h4{
    padding-bottom: 0.5rem;
}
.grid-sec img{
    width: 8rem;
}
.grid-sec p{
    font-size: 10px;
    color: #868482;
    font-weight: 600;
}
.grid2 img{
    width: 50px;
}
